{% extends 'main/layout.html' %}


{% block title %} News {% endblock %}

{% block content %}
    <div class="features">
        <h1>Лягушачьи новости</h1>
        <p> Это страничка с САМЫМИ актуальными новостями про очень уставших лягушечек, которые пытаются стать программистами</p>
        {% if news%}
            {% for el in news%}
                <div class="alert alert-warning"> 
                <h3>{{ el.title}}</h3>
                <p>{{ el.anons }}</p>
                <a href="{% url 'news_detail' el.id %}" class="btn btn-warning"> Читать детальнее </a>
            </div>
            {% endfor %}
        {% else %}
            <p>Сейчас у жабок нет новостей, но скоро мы их напишем </p>
        {%endif%}
        <a href="{% url 'home' %}" class="btn btn-danger"> На главную </a>
    </div>
    

{% endblock %}
