{% extends 'main/layout.html' %}


{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница нашего сайта</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident dolorem aliquid pariatur eligendi beatae ipsam libero incidunt nostrum, neque illo dignissimos voluptas. Explicabo veniam sapiente a at, modi iste facilis.</p>
        <button class="btn btn-warning"> На страницу про автора</button>
    </div>
    
{% endblock %}
