body {
    background: black;
}

aside{ 
    float: left;
    background: #181818;
    width: 30%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100%;
    float: left;
}

aside .logo {
    font-size: 40pt;
    margin-left: 5%;
    font-weight: bold;
    position: relative;
    top: -5px;
    }

aside h3{
    margin-top: 50px;
    font-size: 35px;
}

aside ul{
    font-size: 17pt;
}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 30px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: dodgerblue;
    text-decoration: none;
    transform: scale(1.07);
}

main .features{
    float: left;
    color: whitesmoke;
    margin-top: 40px;
    text-align: center;
    width: 65%;
}

main .features h1 {font-size: 50px; color: dodgerblue;}

main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    background-color: rgb(147, 197, 240);
    float: left;
    clear: both;
    width: 75%;
    margin: 16%;
    text-align: center;
}

form {
    margin-left: 16%;
    width: 75%;
    margin-top: 50px;
}